
body {
    color: #6e6f6f;
    font-family: "MyriadPro-Light";
    font-size: 16px;
}
body {
    color: #6e6f6f;
    font-family: "MyriadPro-Light";
    font-size: 16px;
}
* {
    outline: medium none;
}
@font-face {
    font-family: "Trump-normal";
    src: url("../fonts/TrumpSoftPro.otf");
}
@font-face {
    font-family: "Trump-soft-bold";
    src: url("../fonts/TrumpSoftPro-Bold.otf");
}
@font-face {
    font-family: "Trump-bolditalic";
    src: url("../fonts/TrumpSoftPro-BoldItalic.otf");
}
@font-face {
    font-family: "Trump-Italic";
    src: url("../fonts/TrumpSoftPro-Italic.otf");
}
@font-face {
    font-family: "Trump-medium";
    src: url("../fonts/TrumpSoftPro-Medium.otf");
}
@font-face {
    font-family: "Trump-mediumIt";
    src: url("../fonts/TrumpSoftPro-MediumIt.otf");
}
@font-face {
    font-family: "MyriadPro-Light";
    src: url("../fonts/MyriadPro-Light.otf");
}
@font-face {
    font-family: "MyriadPro-Semibold";
    src: url("../fonts/MyriadPro-Semibold.otf");
}
@font-face {
    font-family: "DancingScript-Bold";
    src: url("../fonts/DancingScript-Bold.ttf");
}
.m-0px {
    margin: 0;
}
.m-5px {
    margin: 5px;
}
.m-10px {
    margin: 10px;
}
.m-15px {
    margin: 15px;
}
.m-20px {
    margin: 20px;
}
.m-25px {
    margin: 25px;
}
.m-0px-lr {
    margin-left: 0;
    margin-right: 0;
}
.m-5px-lr {
    margin-left: 5px;
    margin-right: 5px;
}
.m-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
}
.m-15px-lr {
    margin-left: 15px;
    margin-right: 15px;
}
.m-20px-lr {
    margin-left: 20px;
    margin-right: 20px;
}
.m-25px-lr {
    margin-left: 25px;
    margin-right: 25px;
}
.m-0px-tb {
    margin-bottom: 0;
    margin-top: 0;
}
.m-5px-tb {
    margin-bottom: 5px;
    margin-top: 5px;
}
.m-10px-tb {
    margin-bottom: 10px;
    margin-top: 10px;
}
.m-15px-tb {
    margin-bottom: 15px;
    margin-top: 15px;
}
.m-20px-tb {
    margin-bottom: 20px;
    margin-top: 20px;
}
.m-25px-tb {
    margin-bottom: 25px;
    margin-top: 25px;
}
.m-0px-t {
    margin-top: 0;
}
.m-5px-t {
    margin-top: 5px;
}
.m-10px-t {
    margin-top: 10px;
}
.m-15px-t {
    margin-top: 15px;
}
.m-20px-t {
    margin-top: 20px;
}
.m-25px-t {
    margin-top: 25px;
}
.m-0px-r {
    margin-right: 0;
}
.m-5px-r {
    margin-right: 5px;
}
.m-10px-r {
    margin-right: 10px;
}
.m-15px-r {
    margin-right: 15px;
}
.m-20px-r {
    margin-right: 20px;
}
.m-25px-r {
    margin-right: 25px;
}
.m-0px-b {
    margin-bottom: 0;
}
.m-5px-b {
    margin-bottom: 5px;
}
.m-10px-b {
    margin-bottom: 10px;
}
.m-15px-b {
    margin-bottom: 15px;
}
.m-20px-b {
    margin-bottom: 20px;
}
.m-25px-b {
    margin-bottom: 25px;
}
.m-0px-l {
    margin-left: 0;
}
.m-5px-l {
    margin-left: 5px;
}
.m-10px-l {
    margin-left: 10px;
}
.m-15px-l {
    margin-left: 15px;
}
.m-20px-l {
    margin-left: 20px;
}
.m-25px-l {
    margin-left: 25px;
}
.p-0px {
    padding: 0;
}
.p-5px {
    padding: 5px;
}
.p-10px {
    padding: 10px;
}
.p-15px {
    padding: 15px;
}
.p-20px {
    padding: 20px;
}
.p-25px {
    padding: 25px;
}
.p-0px-lr {
    padding-left: 0;
    padding-right: 0;
}
.p-5px-lr {
    padding-left: 5px;
    padding-right: 5px;
}
.p-10px-lr {
    padding-left: 10px;
    padding-right: 10px;
}
.p-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.p-20px-lr {
    padding-left: 20px;
    padding-right: 20px;
}
.p-25px-lr {
    padding-left: 25px;
    padding-right: 25px;
}
.p-0px-tb {
    padding-bottom: 0;
    padding-top: 0;
}
.p-5px-tb {
    padding-bottom: 5px;
    padding-top: 5px;
}
.p-10px-tb {
    padding-bottom: 10px;
    padding-top: 10px;
}
.p-15px-tb {
    padding-bottom: 15px;
    padding-top: 15px;
}
.p-20px-tb {
    padding-bottom: 20px;
    padding-top: 20px;
}
.p-25px-tb {
    padding-bottom: 25px;
    padding-top: 25px;
}
.p-0px-t {
    padding-top: 0;
}
.p-5px-t {
    padding-top: 5px;
}
.p-10px-t {
    padding-top: 10px;
}
.p-15px-t {
    padding-top: 15px;
}
.p-20px-t {
    padding-top: 20px;
}
.p-25px-t {
    padding-top: 25px;
}
.p-0px-r {
    padding-right: 0;
}
.p-5px-r {
    padding-right: 5px;
}
.p-10px-r {
    padding-right: 10px;
}
.p-15px-r {
    padding-right: 15px;
}
.p-20px-r {
    padding-right: 20px;
}
.p-25px-r {
    padding-right: 25px;
}
.p-0px-b {
    padding-bottom: 0;
}
.p-5px-b {
    padding-bottom: 5px;
}
.p-10px-b {
    padding-bottom: 10px;
}
.p-15px-b {
    padding-bottom: 15px;
}
.p-20px-b {
    padding-bottom: 20px;
}
.p-25px-b {
    padding-bottom: 25px;
}
.p-0px-l {
    padding-left: 0;
}
.p-5px-l {
    padding-left: 5px;
}
.p-10px-l {
    padding-left: 10px;
}
.p-15px-l {
    padding-left: 15px;
}
.p-20px-l {
    padding-left: 20px;
}
.p-25px-l {
    padding-left: 25px;
}
.ov-h {
    overflow: hidden;
}
.display-table {
    display: table;
    margin: 0;
    width: 100%;
}
.display-cell {
    display: table-cell;
    float: none;
}
section {
    padding: 60px 0;
}
a, .btn {
    transition: all 0.4s ease-in-out 0s;
}
h1 {
    font-family: "Trump-soft-bold";
    font-size: 40px;
    margin: 0;
    padding: 0;
}
h2 {
    color: #333333;
    font-family: "Trump-soft-bold";
    font-size: 45px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-size: 19px;
}
header {
    background-color: #292731;
    color: #fff;
}
header .contener-part {
    text-align: right;
}
header ul {
    display: inline-block;
    margin: 0;
}
header ul li {
    display: inline-block;
}
header ul li a {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 43px;
    padding: 0 15px;
}
.fixed {
    border-bottom: 2px solid rgb(227, 30, 36);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
header ul li a:hover, header ul li a:active, header ul li a:focus {
    color: #fff;
}
.search-box .active a {
    color: rgb(227, 30, 36);
}
header ul .search {
    max-width: 200px;
    width: 100%;
}
header ul .form-group {
    margin-bottom: 0;
}
header ul .form-control {
    background-color: #373737;
    border-color: #373737;
    color: #fff;
    display: inline-block;
}
header ul .search input[type="text"] {
    background-image: url("../images/search-icon.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    padding-right: 30px;
}
header .social-icon {
    display: inline-block;
}
header .social-icon a {
    background-color: #373737;
    border-radius: 4px;
    display: inline-block;
    line-height: 33px;
    padding: 0 10px;
    width: 33px;
}
header .query a {
    background-color: #539efd;
    color: #fff;
    padding: 0 25px;
}
header .query img {
    margin-right: 10px;
    padding-bottom: 5px;
}
.navbar {
    background-color: #fff;
    border: 0 none;
    border-radius: 0;
    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    font-size: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    z-index: 9999;
}
.navbar li a, .navbar .navbar-brand {
    color: #333333;
    height: auto;
}
.navbar-brand {
    padding: 8px 0;
}
.navbar li a {
    border-bottom: 3px solid #fff;
    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    line-height: 45px;
    padding-bottom: 13px;
    transition: all 0.1s ease 0s;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #f5f5f5;
    border-bottom: 3px solid #e31e24;
    color: #e31e24;
}
.navbar li .last {
    padding-right: 0;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}
.navbar-brand-centered {
    background-color: transparent;
    text-align: center;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: #e31e24;
}
.navbar .dropdown-menu li a:hover {
    line-height: 45px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
}
.dropdown-menu {
    padding: 0;
}
footer {
    background-color: #1d212b;
    color: #888fa2;
    padding: 50px 0;
}
footer h1 {
    border-bottom: 1px solid #ddd;
    color: #fff;
    font-size: 25px;
    padding-bottom: 25px;
}
footer h2 {
    color: #fff;
    font-size: 25px;
}
footer .first {
    width: 80%;
}
footer ul {
    padding-top: 25px;
}
footer ul li a {
    color: #888fa2;
    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    line-height: 25px;
}
footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}
footer .get-touch li a {
    line-height: 30px;
}
footer .get-touch .mial-align {
    padding-left: 38px;
    text-indent: -38px;
}
footer .get-touch .mial-align a {
    line-height: 20px;
}
footer .get-touch img {
    margin-right: 10px;
    margin-top: -7px;
}
footer p {
    font-size: 16px;
    padding: 15px 0;
}
.copyright {
    padding: 20px 0;
    text-align: center;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #fff;
}
@media screen and (max-width: 1200px) {
.navbar {
    font-size: 13px;
}
}
@media screen and (max-width: 991px) {
.navbar-brand img {
    width: 60%;
}
.navbar li a {
    line-height: 25px;
    padding: 15px 10px;
}
.navbar {
    font-size: 13px;
}
.navbar {
    text-transform: capitalize;
}
.event-box img {
    width: 100%;
}
.other-event-box .box-color {
    min-height: 100%;
}
.other-event-box .box-color .next > img {
    width: 25px;
}
.other-event-box .box-color p {
    font-size: 13px;
}
}
@media screen and (max-width: 767px) {
h2 {
    color: #333333;
    font-family: "Trump-soft-bold";
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
.navbar li a, .navbar .navbar-brand {
    padding-left: 12px;
}
.navbar-nav {
    margin: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar {
    font-size: 14px;
}
.navbar li .last {
    padding-right: 15px;
}
.navbar li a {
    line-height: 30px;
}
header ul {
    width: 100%;
}
header .search-box {
    text-align: center;
}
header ul .search {
    max-width: 100%;
}
header .social-icon {
    float: left;
    margin: 10px 0;
    text-align: left;
    width: 65%;
}
header .query {
    float: left;
    width: 35%;
}
header .query a {
    font-size: 13px;
    line-height: 30px;
    margin: 10px 0;
    padding: 0 10px;
}
header .query img {
    margin-right: 5px;
    padding-bottom: 3px;
    width: 20%;
}
.copyright {
    font-size: 13px;
    padding: 10px 0;
}
p, ul {
    font-size: 14px;
}
}
.full-width {
    width: 100%;
}
.common-query-section {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(83, 157, 253) 0%, rgb(84, 145, 251) 25%, rgb(85, 129, 249) 49%, rgb(87, 92, 243) 73%, rgb(88, 88, 242) 99%, rgb(88, 88, 242) 100%) repeat scroll 0 0;
    text-align: center;
}
.gray-bg {
    background-color: #f9fbfc;
}
.white-bg {
    background-color: #fff;
}
.query-form {
    color: #fff;
    margin: 0 auto;
    max-width: 690px;
    width: 100%;
}
.common-query-section textarea {
    min-height: 120px;
    resize: none;
}
.query-form .form-horizontal {
    margin-top: 35px;
}
.query-form .form-control {
    height: 50px;
    line-height: 50px;
}
.query-form .btn.dropdown-toggle.btn-default {
    height: 50px;
}
.query-form .submit-query {
    background-color: #4465c6;
    border-color: #4465c6;
    color: #fff;
    font-family: "Trump-soft-bold";
    font-size: 25px;
    padding: 5px 50px;
    text-transform: uppercase;
}
.slideanim {
    visibility: hidden;
}
.slide {
    animation-duration: 1s;
    animation-name: slide;
    visibility: visible;
}
.query-form .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
@keyframes slide {
0% {
    opacity: 0;
    transform: translateY(70%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes slide {
0% {
    opacity: 0;
    transform: translateY(70%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
.service-product {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.service-product .banner-img img {
    height: 540px;
    width: 100%;
}
.inner-product {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.inner-product.home-page-slider {
    position: absolute;
    text-align: center;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
}
.inner-product h1 {
    color: #2b377b;
    font-size: 70px;
    text-transform: uppercase;
}
.inner-product .pro-box {
    border-radius: 5px;
    box-shadow: 0 -5px 22px -5px rgba(0, 0, 0, 0.57);
    max-width: 372px;
    position: relative;
    transition: all 0.5s ease 0s;
    width: 100%;
}
.inner-product .pro-box:hover {
    margin-top: -10px;
}
.inner-product .pro-box img {
    border-radius: 5px;
    width: 100%;
}
.inner-product .pro-box h2 {
    bottom: 20px;
    color: #fff;
    position: absolute;
    width: 100%;
    z-index: 2222;
}
.inner-product .pro-box::after {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-radius: 5px;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.news {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #ffffff 38%, #f9fbfc 65%, #f9fbfc 100%) repeat scroll 0 0;
}
.intro {
    padding-bottom: 0;
}
.intro .intro-content {
    margin: 0 auto;
    max-width: 760px;
    text-align: center;
    width: 100%;
}
.intro h2 {
    margin-top: 65px;
    padding: 0 80px 20px;
}
.intro p {
    padding: 0 80px;
}
.bg-gray {
    background-color: #f0f0f0;
    float: left;
    margin-top: -180px;
    min-height: 220px;
    width: 100%;
}
.intro figure {
    margin: 30px 0;
}
.news-event {
    padding: 0 80px;
    text-align: center;
}
.news-event .head {
    padding-bottom: 25px;
}
.event-box {
    position: relative;
}
.event-box::after {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.event-box p {
    bottom: 20px;
    color: #fff;
    font-family: "MyriadPro-Semibold";
    padding: 0 35px;
    position: absolute;
    text-align: left;
    z-index: 2222;
}
.pad {
    padding-bottom: 10px;
    padding-right: 0;
}
.box-color {
    background-color: #fff;
    height: 100%;
    min-height: 292px;
    padding: 20px;
    position: relative;
    text-align: left;
}
.box-color .next {
    bottom: 20px;
    position: absolute;
    right: 20px;
}
.testmonia {
    text-align: center;
}
.testmonia .item {
    position: relative;
}
.testmonia .texmonia-textarea {
    background-color: #f9fbfc;
    border: 1px solid #f2f2f2;
    max-width: 548px;
    padding: 20px;
    position: relative;
    text-align: left;
    width: 100%;
}
.testmonia .texmonia-textarea::after {
    background-image: url("../images/text-monia.png");
    background-repeat: no-repeat;
    bottom: -50px;
    content: "";
    height: 50px;
    position: absolute;
    right: 20px;
    width: 50px;
}
.testmonia .pic {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}
.testmonia figure img {
    border: 3px solid #539efd;
    border-radius: 50%;
    float: left;
}
.testmonia .pic p {
    margin-bottom: 0;
    padding-left: 100px;
    text-transform: uppercase;
}
.testmonia .pic p sub {
    bottom: 0;
}
.testmonia .profile-details {
    height: 80px;
    padding: 14px 0;
}
.testmonia .pic p color {
    color: #539efd;
}
.testmonia .pic .destination {
    font-size: 14px;
    text-transform: none;
}
.testmonia .owl-carousel .owl-item {
    margin-top: 30px;
}
@media screen and (max-width: 991px) {
section {
    padding: 30px 0;
}
footer h2 {
    text-align: left;
}
footer {
    padding: 30px 0;
}
h2 {
    font-size: 30px;
}
.inner-product h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.service-product .banner-img img {
    height: 100%;
}
}
@media screen and (max-width: 767px) {
.banner-img, .bg-gray {
    display: none;
}
.service-product .inner-product {
    position: static;
    top: 0;
    transform: translateY(0px);
}
.inner-product h1 {
    font-size: 30px;
}
.inner-product .pro-box {
    margin: 20px 0;
}
.inner-product .pro-box:hover {
    margin: 20px 0;
}
.intro h2 {
    margin-top: 0;
    padding: 0 0 10px;
}
.intro p {
    padding: 0;
}
.news-event {
    padding: 0;
}
.news-event .head {
    padding-bottom: 10px;
}
.pad {
    padding-right: 15px;
}
.event-box p {
    bottom: 0;
    padding: 10px;
}
.other-event-box .p-0px-r {
    padding-right: 15px;
}
.box-color {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.box-color {
    min-height: 130px;
}
.box-color .next {
    left: 20px;
}
.query-form .form-control {
    margin-bottom: 15px;
}
section {
    padding: 15px 0;
}
.ser-pro h1 {
    padding-top: 20px;
}
.testmonia .owl-carousel .owl-item {
    margin-top: 10px;
}
.navbar {
    border-bottom: 1px solid rgb(227, 30, 36);
}
.inner-product .pro-box {
    max-width: 100%;
}
}
.common-header-image {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.common-header-image .banner-img img {
    height: auto;
    width: 100%;
}
.common-header-image h1 {
    color: #fff;
}
.about {
    padding-bottom: 0;
}
.about .nav-tabs {
    border-bottom: 0 solid #ddd;
    text-align: center;
}
.about .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}
.about .nav-tabs > li {
    display: inline-block;
    float: none;
}
.about .nav-tabs > li > a {
    border: medium none;
    color: #666;
    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    text-transform: uppercase;
}
.about .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: rgb(227, 30, 36);
}
.about .nav-tabs > li > a::after {
    background: rgb(227, 30, 36) none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scale(0);
    transition: all 250ms ease 0s;
    width: 100%;
}
.about .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.about .tab-nav > li > a::after {
    background: rgb(227, 30, 36) none repeat scroll 0 0;
    color: #fff;
}
.about .about-instro {
    padding: 80px 0 60px;
    position: relative;
}
.about .about-instro figure {
    float: left;
    max-width: 700px;
    padding-bottom: 30px;
    padding-right: 30px;
    width: 100%;
}
.about .content h2 {
    margin-bottom: 20px;
    text-align: left;
}
.about .overlap-heading {
    position: absolute;
    right: 200px;
    top: 10px;
}
.about .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
}
.visin-missin {
    margin: 0 auto;
    max-width: 975px;
    width: 100%;
}
.vision {
    padding: 60px 0;
}
.vision h2 {
    padding: 40px 0 10px;
    text-align: left;
}
.vision p {
    font-size: 22px;
    font-weight: 300;
}
#why-us .content {
    text-align: center;
}
#why-us .content h2 {
    text-align: center;
}
#why-us .overlap-heading {
    left: 0;
}
#why-us .service {
    padding: 45px;
}
#why-us .service h2 {
    text-align: left;
}
#why-us .service ul {
    font-size: 19px;
    margin: 10px 0;
    padding-left: 20px;
}
#why-us .follow-service figure {
    border: 1px solid #ccc;
    margin: 0;
    position: absolute;
    top: -75px;
}
#why-us .follow-service {
    padding-bottom: 60px;
}
#mng .service h2 {
    text-align: left;
}
#mng .content {
    background-color: #fff;
    margin-top: 20px;
}
#mng .content h2 {
    text-align: center;
}
#mng .overlap-heading {
    left: 0;
}
#mng .service {
    padding: 45px;
}
#mng .management-right h2 {
    text-align: left;
}
#mng .management-right {
    padding: 25px 0;
    text-align: left;
}
#mng .signature {
    color: #576ff6;
    font-family: "DancingScript-Bold";
    font-size: 30px;
    margin: 25px 0 0;
}
@media screen and (max-width: 767px) {
.common-header-image .banner-img {
    display: block;
}
.common-header-image .inner-product {
    position: absolute;
}
.overlap-heading, #why-us .follow-service figure, .about .about-instro figure {
    display: none;
}
.about .about-instro {
    padding: 30px 0;
}
.vision {
    padding: 0;
}
.vision h2 {
    padding: 30px 0 0;
}
.vision p, #why-us .service ul {
    font-size: 14px;
}
#why-us .service {
    padding: 30px 0;
}
#why-us .follow-service {
    margin-bottom: 0;
}
#mng .content {
    margin-top: 0;
}
#mng .about-instro {
    padding: 30px;
}
}
.acc-rec {
    padding: 20px 0;
}
.acc-rec .overlap-heading {
}
.acc-rec .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
    text-transform: uppercase;
}
.acc-rec-top {
    position: relative;
    top: -25px;
}
.acc-rec-top {
}
.acc-rex-left {
    border: 8px solid #f0f0f0;
    float: right;
    margin-top: 30px;
    max-width: 445px;
    position: relative;
    width: 100%;
}
.acc-rex-left img {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: -30px;
    width: 100%;
}
.acc-rec .acc-rex-right h2 {
    padding: 0 0 20px 20px;
    text-align: left;
}
.acc-rec .acc-rex-right {
    font-size: 19px;
}
@media screen and (max-width: 991px) {
.acc-rec .overlap-heading h1 {
    font-size: 70px;
}
.acc-rex-left img {
    margin: 0;
}
.acc-rex-left {
    float: left;
    margin: 20px 0;
    max-width: 100%;
}
}
@media screen and (max-width: 767px) {
.acc-rec {
    padding: 30px 0 0;
}
.acc-rex-left img {
    margin: 0;
}
.acc-rex-left {
    float: left;
    margin: 20px 0;
}
}
.careers {
    padding: 20px 0;
}
.careers .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
    text-transform: uppercase;
}
.career-container {
    margin: 0 auto;
    max-width: 950px;
}
.career-top {
    margin-top: -115px;
    padding: 50px 0;
    text-align: center;
}
.reason-work {
    text-align: center;
}
.reason-work li {
    display: inline-block;
    margin: 70px 10px 0;
    padding: 0;
    text-align: center;
}
.hex2, .hex2::before, .hex2::after {
    border-color: currentcolor #e7e9ea;
    border-style: none solid;
    border-width: medium 1px;
    height: 125px;
    width: 215px;
}
.hex2 {
    line-height: 100px;
    margin: 60px 10px;
    position: relative;
    text-align: center;
    z-index: 0;
}
.hex2::after, .hex2::before {
    content: "";
    left: -1px;
    position: absolute;
    top: 0;
    z-index: -1;
}
.hex2::before {
    transform: rotate(60deg);
}
.hex2::after {
    transform: rotate(-60deg);
}
.reason-work span {
    bottom: 0;
    color: #333;
    font-size: 15px;
    font-weight: 800;
    left: 0;
    line-height: 18px;
    padding: 0 22px;
    position: absolute;
}
.hex2 img {
    margin-top: -40px;
}
.reasion-work-list {
    padding: 20px 0 50px;
}
.padding-top-bottom {
    padding: 60px 0;
}
.careers .apply {
    margin: 20px 0;
}
.careers .apply li {
    background-color: #fff;
    border-bottom: 1px solid #e7e9ea;
    color: #333;
    font-size: 19px;
    font-weight: 800;
    padding: 15px;
}
.careers .apply li a {
    color: #e31e24;
    float: right;
    font-family: "Trump-medium";
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.careers .apply li a i {
    padding-left: 10px;
}
.careers .apply .top {
    border-top: 1px solid #e7e9ea;
}
.bounce {
    animation: 2s ease 0s normal none infinite running bounce;
}
.app-job-head {
    border-bottom: 1px solid #e0e5e7;
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: left;
}
.job-apply p strong {
    color: #333;
}
.apply-job-form {
    background-color: #fff;
    float: left;
    margin: 60px 0 0;
    padding: 20px;
    width: 100%;
}
.apply-job-form-border {
    border: 10px solid #e0e5e7;
    padding: 50px;
}
.apply-job-form-border h2 {
    margin-bottom: 30px;
    text-align: left;
}
.apply-job-form-border .form-control {
    font-size: 17px;
    height: 50px;
}
.apply-job-form-border textarea {
    height: 120px;
    resize: none;
}
.apply-job-form-border .submit-query {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(83, 157, 253) 0%, rgb(84, 145, 251) 25%, rgb(85, 129, 249) 49%, rgb(87, 92, 243) 73%, rgb(88, 88, 242) 99%, rgb(88, 88, 242) 100%) repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: "Trump-soft-bold";
    font-size: 25px;
    padding: 5px 70px;
    text-transform: uppercase;
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
.career-top {
    margin-top: 0;
    padding: 0;
}
.padding-top-bottom {
    padding: 20px 0;
}
.reason-work li {
    margin: 70px 10px;
}
.careers .apply li {
    float: left;
    width: 100%;
}
.careers .apply li a {
    float: left;
    width: 100%;
}
.reasion-work-list {
    padding-bottom: 0;
}
.careers .apply li {
    font-size: 14px;
}
.app-job-head {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.apply-job-form {
    margin: 10px 0;
    padding: 0;
}
.apply-job-form-border {
    border-width: 5px;
    padding: 20px 10px;
}
.apply-job-form-border .form-control {
    font-size: 14px;
    height: auto;
}
.apply-job-form-border .form-group {
    margin-bottom: 0;
}
.apply-job-form-border .form-control {
    margin: 5px 0;
}
.apply-job-form-border .submit-query {
    font-size: 18px;
    width: 100%;
}
}
.our-braches .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
    text-align: right;
    text-transform: uppercase;
}
.branches-map {
    float: left;
    position: relative;
    top: -25px;
    width: 100%;
}
.branches-map h2 {
    left: 70px;
    position: absolute;
    top: -30px;
}
.braches-detals {
    margin-top: 20px;
}
.braches-detals h2 {
    text-align: left;
}
.table-responsive {
}
.our-braches .table {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.our-braches .table p strong {
    color: #333;
}
.our-braches .table .addrers {
    width: 60%;
}
.our-braches .table td {
    padding: 20px 0 10px 25px;
}
.our-braches .table a, .our-braches .table a:hover, .our-braches .table a:active {
    color: #6e6f6f;
    text-decoration: none;
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
.branches-map h2 {
    margin: 30px 0 10px;
    position: static;
    text-align: left;
}
.branches-map h2 br {
    display: none;
}
.table-responsive {
    margin: 20px 0;
}
}
.contact-container, .testmonis-container {
    margin: 0 auto;
    max-width: 950px;
}
.testimonials .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
    text-transform: uppercase;
}
.test-top {
    position: relative;
    top: -25px;
}
.testimonials-box {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}
.testimonials-box figure {
    float: left;
}
.testimonials-box figure img {
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.4);
    max-width: 210px;
    min-height: 215px;
}
.testimonials-details {
    padding-left: 250px;
}
.testimonials-details .name {
    color: #e31e24;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
}
.testimonials-details .border {
    border-bottom: 1px solid #e0e1e2;
    margin-top: 40px;
}
@media screen and (max-width: 767px) {
.testimonials-box figure {
    float: none;
    text-align: center;
}
.testimonials-details {
    padding-left: 0;
    padding-top: 20px;
}
.test-top {
    padding-top: 20px;
    position: static;
}
}
.media-section {
    padding: 30px 0;
}
.media-box {
}
.media-box figure {
    max-width: 402px;
    min-height: 268px;
}
.media-box img {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
}
.media-section .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
    text-align: left;
    text-transform: uppercase;
}
.media-section .caption {
    color: #333;
    font-size: 17px;
    font-weight: 700;
    min-height: 80px;
    padding: 15px 30px 0;
    text-align: center;
}
.images-gallery {
    background-color: #fff;
    padding-bottom: 35px;
}
#example3 .sp-selected-thumbnail {
    border-top: 4px solid #dd1d23;
}
.sp-slides-container {
    box-shadow: 0 20px 9px -7px rgb(128, 128, 128);
}
.sp-bottom-thumbnails {
    margin-top: 25px;
}
.images-gallery h2 {
    padding-bottom: 30px;
    padding-left: 60px;
    padding-top: 20px;
    text-align: left;
}
@media screen and (max-width: 767px) {
.media-box figure img {
    margin: 0 auto;
}
.media-box figure {
    max-width: 100%;
    min-height: auto;
}
}
.service .overlap-heading {
    left: 0;
    position: absolute;
    top: 10px;
}
.service .content p strong {
    color: #333;
}
.about .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
}
.media2 {
    padding-bottom: 0;
}
.media2 .nav-tabs {
    border-bottom: 0 solid #ddd;
    text-align: center;
}
.media2 .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}
.media2 .nav-tabs > li {
    display: inline-block;
    float: none;
}
.media2 .nav-tabs > li > a {
    border: medium none;
    color: #666;
    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    text-transform: uppercase;
}
.media2 .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: rgb(227, 30, 36);
}
.media2 .nav-tabs > li > a::after {
    background: rgb(227, 30, 36) none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scale(0);
    transition: all 250ms ease 0s;
    width: 100%;
}
.media2 .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.media2 .tab-nav > li > a::after {
    background: rgb(227, 30, 36) none repeat scroll 0 0;
    color: #fff;
}
.media2 .about-instro {
    padding: 80px 0 60px;
    position: relative;
}
.media2 .about-instro figure {
    float: left;
    max-width: 700px;
    padding-bottom: 30px;
    padding-right: 30px;
    width: 100%;
}
.media2 .content h2 {
    margin-bottom: 20px;
    text-align: left;
}
.media2 .overlap-heading {
    position: absolute;
    right: 0;
    top: 10px;
}
.media2 .overlap-heading h1 {
    color: #f3f2f2;
    font-size: 110px;
}
.media2 .media-top {
    margin-bottom: 150px;
    margin-top: -40px;
    padding-bottom: 50px;
}
.media2 .media-top1 {
    margin-bottom: 50px;
    margin-top: -40px;
    padding-bottom: 50px;
}
.media2 .news-box {
    float: left;
    margin-bottom: 65px;
    position: relative;
    width: 100%;
}
.media2 .news-box img {
    width: 100%;
	max-height:338px;
}
.media2 .news-discription {
    background-color: #fff;
    margin: 0 10%;
    padding: 30px 20px;
	text-align:center;
    position: absolute;
    top: 85%;
    width: 80%;
    z-index: 5666;
}
.media2 .news-discription .head {
    color: #000;
    font-size: 16px;
    margin-bottom: 0;
}
.morecontent span {
    display: none;
}
.media2 .morecontent a {
    color: #e31e24;
}
.media-box1 figure {
    min-height: 235px;
}
.media2 .caption {
    color: #333;
    font-weight: 600;
}
@media screen and (max-width: 991px) {
.media2 .news-discription {
    position: static;
}
.media2 .news-discription {
    margin: 0;
    padding: 30px 20px;
    top: 80%;
    width: 100%;
}
.media2 .media-top {
    margin-bottom: 50px;
}
.media2 .media-top1 {
    margin-bottom: 50px;
}
}
@media screen and (max-width: 767px) {
.media2 .news-discription {
    position: static;
}
.media2 .about-instro {
    padding: 40px 0;
}
.media-box1 figure {
    margin-bottom: 10px;
    min-height: auto;
}
.media2 .media-top1, .media2 .media-top1 {
    margin-bottom: 0;
}
.media2 .caption {
    margin-bottom: 20px;
}
.yvidio {
    height: 380px;
    width: 320px;
}
}
.mial-align a {
    padding-left: 30px;
}
.mial-align a:first-child {
    padding-left: 0;
}
.pad0 {
    padding: 0;
}
.yvidio {
    height: 380px;
    width: 720px;
}
.yvidio2 {
    height: 415px;
    width: 100%;
}
